@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

body {
    background-color: #ccc7c7;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}

.on {
    color: rgb(247, 122, 50);
}

.sports {
    text-decoration: overline;
}

#cart {
    border: 1px solid #333131;
    margin: 20px;
    border-radius: 5px;
}

#cart h2,
#cart-cant,
#cart-items,
.total {
    margin-left: 20px;
    color: rgb(0, 0, 0);
}

#product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.product {
    border: 1px solid #3a3939;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.add-to-cart {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.add-to-cart:hover {
    background-color: #022035;
}

li {
    margin: 5px;
}

.remove-from-cart {
    background-color: #d43322;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
}

.remove-from-cart:hover {
    background-color: #350601;
}

#filters {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#name-filter {
    margin-left: 10px;
}